<div class="col-xs-12 bar-block">
    <div class="col-xs-12 section-title secondary">{% trans %}Категории новостей{% endtrans %}</div>
    <div class="col-xs-12 bar-content">
        <ul class="bar-list">
            <li></li>
            {% for row in categories %}
                <li class="cat-item cat-item-12">
                    <a href="{{ url('url_show', {url: row.url}) }}"> {{ row.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>