<div class="col-xs-12 bar-block">
    <div class="col-xs-12 section-title secondary">
        <h3>{% trans %}Категории новостей{% endtrans %}</h3>
    </div>
    <div class="col-xs-12 bar-content">
        <ul class="bar-list">
            <li></li>
            {% for row in categories %}
                <li class="category-item">
                    <a href="{{ row|pageUrl }}"> {{ row.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>