{% for flashMessage in app.session.flashbag.get('message') %}
    <div class="alert alert-success">
        {{ flashMessage|trans }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">
        {{ flashMessage|trans }}
    </div>
{% endfor %} 