#first-bar {
    height: 70px;
}

#brand-title .title {
    text-transform: uppercase;
    font-weight: 600;
    margin: 25px 0;
    color: #434342;
}
#first-bar .navbar-form {
    margin: 20px;
}

.navbar-brand img {
    max-width: 70px;
}

.navbar-form .form-group,
.navbar-form .input-group {
    width: 100%;
}

.navbar-form,
#locale-switch {
    margin: 20px 0;
}
#locale-switch > a {
    padding: 5px 10px;
    display: inline-block;
    min-width: 45px;
    text-align: center;
}
#locale-switch > a.active,
#locale-switch > a:hover {
    background-color: #dc8e08;
    color: #fff;
}

#second-bar {
    z-index: 900;
}
#second-bar .dropdown-menu,
#second-bar {
    background-color: #03447b;
    font-size: 16px;
}
#second-bar .dropdown-menu {
    border-bottom: 2px solid #fbad1a;
}

#second-bar .navbar-nav > li:hover > a,
#second-bar .navbar-nav > .open > a,
#second-bar .navbar-nav > .open > a:hover,
#second-bar .navbar-nav > .open > a:focus,
#second-bar .dropdown-menu > li > a:hover,
#second-bar .dropdown-menu > li > a:focus {
    background-color: #023763;
}
#second-bar .navbar-nav > .open span.caret {
    transform: rotate(90deg)
}
#second-bar .dropdown-menu > li > a,
#second-bar .navbar-nav > li > a {
    color: #fff;
}

#second-bar .navbar-nav > li {
    border-right: 1px solid #2f5677;
}
#second-bar .navbar-nav > li:last-child {
    border-right: none;
}

.navbar-nav li:hover .dropdown-menu {
    visibility: visible;
    display: block;
}

.breadcrumb {
    background-color: #223446;
    background-size: contain;
    text-transform: uppercase;
    opacity: 0.8;
}

.breadcrumb a {
    color: #4fb2ea;
}

.breadcrumb > .active {
    color: #ccc;
}

#inner-headline-list {
    background-image: url(../img/inner-headline.jpg);
}

#call-to-action-2 {
    background-image: url(../img/banner.png);
    background-size: cover;
}

#call-to-action-2 h1,
#call-to-action-2 h2,
#call-to-action-2 h3,
#call-to-action-2 h4 {
    color: #fff;
}

#shortcuts {
    background-color: #F2F2F2;
    position: relative;
    padding-top: 30px;
}

#shortcuts .content:hover h4 {
    color: #fbad1a;
}

#shortcuts .content:hover  p {
    color: #fff;
}

#shortcuts .item-content {
    /*border-bottom: @size solid transparent;*/
    background-image: linear-gradient(to right, #023a68 0%, #1674d1 100%);
    background-origin: border-box;
    /*background-size: 100% 0px, 0px 100%, 100% @size, 0px 100%;*/
    background-position: top left, top right, bottom right, bottom left;
    background-repeat: no-repeat;
    padding-bottom: 5px;
}
#shortcuts .content {
    padding: 30px 15px;
    background: #dddddd;
    background: -moz-linear-gradient(left, #dddddd 0%, #eaeaea 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #dddddd), color-stop(100%, #eaeaea));
    background: -webkit-linear-gradient(left, #dddddd 0%, #eaeaea 100%);
    background: -o-linear-gradient(left, #dddddd 0%, #eaeaea 100%);
    background: -ms-linear-gradient(left, #dddddd 0%, #eaeaea 100%);
    background: linear-gradient(to right, #dddddd 0%, #eaeaea 100%);
}
#shortcuts .reception {
    background-image: url(../img/reception.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    opacity: 0.15;
    position: absolute;
    right: 15px;
    bottom: 5px;
    width: 100%;
    height: 105px;
}

#shortcuts .calendar {
    background-image: url(../img/calendar.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    opacity: 0.15;
    position: absolute;
    right: 15px;
    bottom: 5px;
    width: 100%;
    height: 105px;
}

#shortcuts .desc {
    font-size: 12px;
    width: 80%;
    color: #333333;
}
#shortcuts .link:hover .item-content {
    background-image: linear-gradient(to right, #023a68 0%, #1674d1 100%);
    background-origin: border-box;
    background-position: top left, top right, bottom right, bottom left;
    background-repeat: no-repeat;

}
#shortcuts .link:hover .content {
    background: #023a68;
    background: -moz-linear-gradient(left, #023a68 0%, #1674d1 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, #023a68), color-stop(100%, #1674d1));
    background: -webkit-linear-gradient(left, #023a68 0%, #1674d1 100%);
    background: -o-linear-gradient(left, #023a68 0%, #1674d1 100%);
    background: -ms-linear-gradient(left, #023a68 0%, #1674d1 100%);
    background: linear-gradient(to right, #023a68 0%, #1674d1 100%);
}

.bar-block {
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
}
.bar-block .section-title {
    padding-left: 0;
    padding-right: 0;
}
.bar-block .bar-content {
    padding-left: 0;
    padding-right: 0;
}
.bar-block .bar-list {
    padding-left: 0;
}
.bar-block .bar-list li {
    display: inline-block;
    width: 50%;
    float: left;
}
.bar-block .bar-list li a {
    padding: 5px 10px 5px 0;
    display: inline-block;
    width: 90%;
    border-bottom: 1px solid #F2F2F2;
}
.bar-block .last-media-cont {
    padding-left: 0;
}
.bar-block .last-media-cont .last-title a {
    font-weight: normal;
}
.bar-block .last-text-block {
    padding-left: 0;
    padding-right: 0;
}
.media-preview {
    margin-bottom: 20px;
}
#news {
    padding-top: 10px;
}
#news .btn {
    text-transform: uppercase;
    color: #03447B;
    border-color: #03447B;
}
#news .more {
    margin: 10px 0;
}

.article-item {
    margin-bottom: 40px;
}
.article-item .article-title {
    height: 30px;
}

#companies .content{
    padding: 8px 3px;
}
#companies .content img {
    height: 85px;
}
.section-grey {
    background-color: #eee;
}
.section-title {
    color: #03447B;
    font-size: 22px;
    margin: 15px 0;
}
@media (max-width: 768px) {
    .section-title {
        padding-left: 0;
        padding-right: 0;
    }
}

#hotline {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../img/inner-headline.jpg);
    padding: 30px 0;
}
#hotline .call-center {
    text-align: center;
    padding-top: 30px;
}
#hotline .call-center .phone img {
    width: 64px;
}
#hotline .call-center .phone span {
    color: #B8DEF7;
    font-size: 48px;
    position: relative;
    top: 15px;
    left: 10px;
}
#hotline .call-center .name {
    color: #fbad1a;
}
#hotline .call-center .name,
#hotline .call-center .title {
    text-transform: uppercase;
    font-size: 18px;
}
#hotline .call-phones a {
    color: #fff;
    padding: 8px 0;
    display: inline-block;
}
#hotline .call-phones a:hover {
    color: #fbad1a;
}

footer #fish {
    background-color: #1c1c1c;
    color: #fff;
    height: 55px;
}

.loading {
    background-color: #fff;
    opacity: 0.6;
    position: relative;
}

.loading .loading-indicator {
    display: block;
}

.loading .alert {
    display: none;
}

.loading-indicator {
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    height: 80px;
    margin: auto;
    background-image: url(../img/preloader-black.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

.dl-horizontal dt {
    text-align: left;
}

.dl-horizontal dd {
    text-align: right;
}