<div class="skill-home">
    <div class="skill-home-solid clearfix">
        <div class="col-md-4 text-center">
            <div class="box-content">
                <div class="box-area">
                    <h3>Электронная приемная</h3>
                    <p>Lorem ipsum dolor sitamet, consec tetur adipisicing elit. Dolores quae porro</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="box-content focus">
                <div class="box-area">
                    <h3>Календарь событий</h3>
                    <p>Lorem ipsum dolor sitamet, consec tetur adipisicing elit. Dolores quae porro</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="box-content">
                <div class="box-area">
                    <h3>Плановые отключения</h3>
                    <p>Lorem ipsum dolor sitamet, consec tetur adipisicing elit. Dolores quae porro</p>
                </div>
            </div>
        </div>
    </div>
</div>