<section id="shortcuts">
    <div class="container">
        <div class="row">
            <a class="link" href="{{  url('feedback_show') }}">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 shotcut-item ">
                    <div class="item-content">
                        <div class="content">
                            <h4 class="name">{% trans %}Электронная приемная{% endtrans %}</h4>
                            <p class="desc">{% trans %}Задайте интересующий вас вопрос и получите на него ответ.{% endtrans %}</p>
                            <div class="bgpic reception"></div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="link" href="{{ url('url_show', {url: 'otkluchenia'}) }}">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 shotcut-item ">
                    <div class="item-content">
                        <div class="content">
                            <h4 class="name">{% trans %}Плановые отключения{% endtrans %}</h4>
                            <p class="desc">{% trans %}Узнайте информацию о местах и причинах отключений.{% endtrans %}</p>
                            <div class="bgpic calendar"></div>
                        </div>
                    </div>
                </div>
            </a>
            <a class="link" href="{{ url('my_balance_show') }}">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 shotcut-item ">
                    <div class="item-content">
                        <div class="content">
                            <h4 class="name">{% trans %}Баланс абонента{% endtrans %}</h4>
                            <p class="desc">{% trans %}Вы можете узнать о вашем текущем долге по лицевому счету.{% endtrans %}</p>
                            <div class="bgpic reception"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
