<section id="shortcut">
    <div class="container">
        <div class="row">

            <a class="link">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 shotcut-item ">
                    <div class="item-cont">
                        <div class="content">

                            <h4 class="name">Электронная приемная (в разработке)</h4>

                            <p class="desc">Задайте интересующий вас вопрос и получите на него ответ. (в разработке)</p>

                            <div class="bgpic reception">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </a>

            <a class="link">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 shotcut-item ">
                    <div class="item-cont">
                        <div class="content">

                            <h4 class="name">Календарь событий (в разработке)</h4>

                            <p class="desc">Lorem ipsum dolor sitamet, consec tetur adipisicing elit.</p>

                            <div class="bgpic calendar">&nbsp;</div>
                        </div>
                    </div>

                </div>
            </a>
            <a class="link">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 shotcut-item ">
                    <div class="item-cont">
                        <div class="content">

                            <h4 class="name">Баланс абонента (в разработке)</h4>

                            <p class="desc">Вы можете получить полный отчет о текущем состоянии Вашего лицевого
                                счета.</p>
                            <div class="bgpic reception">&nbsp;</div>
                        </div>
                    </div>

                </div>
            </a>
        </div>
    </div>

</section>
