#first-bar {
    height: 70px;
}
#first-bar .navbar-form {
    margin-top: 20px;
}

#second-bar {
    background-color: #03447b;
    text-transform: uppercase;
}
#second-bar .navbar-nav > li > a {
    color: #fff;
}